@media screen and (min-width: 320px) and (max-width: 480px) {
    .source .source-holder {
        .source-logo {
            height: 80px;
            width: 80px;
        }
        
        .source-info {
            h1 {
                font-size: 60px;
            }

            .source-button p {
                font-size: 30px;
            }
        }
    }
}