@media screen and (max-width: 319px) {
    .source .source-holder {
        .source-logo {
            height: 70px;
            width: 70px;
        }
        
        .source-info {
            h1 {
                font-size: 60px;
            }

            .source-button p {
                font-size: 30px;
            }
        }
    }
}